# Pengaturan WordPress
WP_URL=https://acehsahoe.com
WP_USERNAME=vbgnb
# Gunakan Application Password, BUKAN password login biasa
WP_APP_PASSWORD=AHU7 cwDJ MB7c 1dlB DbLf GdKs

# Status artikel (draft atau publish)
POST_STATUS=publish
